

#media-cell {
	-fx-background-color: #FFFFFF;
    -fx-padding: 5;
}

#media-cell:hover {
    -fx-background-color: #BBEBFF;
}

#media-cell:selected {
    -fx-background-color: #A9C5EB;
    -fx-border-color: #75B4FF;
}

#media-cell:hover:selected {
    -fx-background-color: #BBEBFF;
    -fx-border-color: #75B4FF;
}



#media-cell #description {

}