#tagview{
    -fx-text-fill: #006464;
    -fx-background-color: #9999CC;
    -fx-border-color: #707070;
    -fx-background-radius: 15 0 0 15;
    -fx-border-radius: 15 0 0 15;
    -fx-padding: 1 5 1 2;
}

.label { 
    -fx-font: 10px "Verdana";
}

#tag-dot {
    -fx-fill: LIGHTGREY;
    -fx-stroke: #707070;
}
#tagview:hover #tag-dot {
    -fx-fill: yellow;
}


.button { 
    -fx-background-color: #FFF5EB;
    -fx-border-color: #707070;
    -fx-padding: 0;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-minwidth: 30;
}

.button:hover {
    -fx-background-color: #FFFFFF;
}


.woot { 
    -fx-background-color: #DDFFA4;
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-radius: 15, 0, 0, 15;
    -fx-background-radius: 15, 0, 0, 15;
    -fx-background-insets: 0, 1, 2 1 1 1;
}